<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Item list</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <% if (items) { %>
            <% items.forEach((value) => { %>
            <tr>
                <td>
                    <a href="/item/<%= value.id %>"><%= value.name %></a>
                </td>
                <td>150</td>
            </tr>
            <% }) %>
        <% } %>
    </table>
</body>

</html>