<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Item detail</h1>
    <% if (item) { %>
    <dl>
        <dt>Name</dt>
        <dd><%= item.name %></dd>
        <dt>Price</dt>
        <dd>\<%= item.price %></dd>
    </dl>
    <% } else { %>
        Item is not found...
    <% } %>
</body>
</html>