<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <dl>
            <dt>Name</dt>
            <dd><%= user.name %></dd>
            <dt>Birth Place</dt>
            <dd><%= user.birthplace %></dd>
            <dt>Hobby</dt>
            <!-- hobbyデータの繰り返し -->
            <dd>
                <% user.hobby.forEach((value) => { %>
                    <%= value %>
                <% }) %>
            </dd>
        </dl>
    </div>
</body>
</html>