<h1><%= title %></h1>
<div>
    <dl>
        <dt>Name</dt>
        <dd><%= user.name %></dd>
        <dt>Birth Place</dt>
        <dd><%= user.birthplace %></dd>
        <dt>Hobby</dt>
        <!-- hobbyデータの繰り返し -->
        <dd>
            <ul>
            <% user.hobby.forEach((value)=> { %>
                <li><%= value %></li>
            <% }) %>
            </ul>
        </dd>
    </dl>
</div>